/*Standart Regeln*/
  * { padding: 0;                                                               /*Wenn nix angegeben ist soll kein Abstand gelassen werden*/
      margin: 0;                                                                /*Wenn nix angegeben ist soll kein Platz gelassen werden*/
      
    }
/*Layout*/
    div {
      margin: 5px;                                                              /*Auf jeder Seite 5px Platz lassen*/
      padding: 5px;                                                             /*Auf jeder Seite 5px Abstand*/
    }

    #hauptseite {
      background-color: #5c5a5a;                                              /*Hintergrundfarbe Grau*/
    }
  
    #video {                                                    
      width: 98.1%;                                                             /*Breite auf 98.1% setzen*/
    }

    video {
      width: 100%;                                                              /*100% Breite*/
      height: 100%;                                                             /*100% Höhe*/
      border-radius: 70px;                                                      /*Video abrunden*/
    }

    #infos {
      background-color: #5c5a5a;                                              /*Hintergrundfarbe Grau*/
      text-align: center;                                                       /*Text zentrieren*/
      height: auto;                                                             /*Höhe automatisch*/
      color: orange;                                                          /*Schriftfarbe Orange*/
    }

    h1 {
      font-size: 50px;                                                          /*Schriftgröße 50px*/
    }

    .tabelle {
      width: 100%;                                                              /*100% Höhe*/
      font-size: 35px;                                                          /*Schriftgröße 35px*/
    }

   
   
    #tabelle1 {
      color: orange;                                                          /*Schriftfarbe Orange*/
      margin-bottom: 4%;                                                        /*Unten 4% Platz lassen*/
    }
    
    #tabelle2 {
      color: lightgreen;                                                      /*Schriftfarbe Hellgrün*/
      margin-bottom: 4%;                                                        /*Unten 4% Platz lassen*/
    }
    
    
    #tabelle3 {
      color: lightblue;                                                        /*Schriftfarbe Hellblau*/
      margin-bottom: 4%;                                                         /*Unten 4% Platz lassen*/
    }

    #tabelle4 {
      color: white;                                                            /*Schriftfarbe Weiß*/
      margin-bottom: 4%;                                                         /*Unten 4% Platz lassen*/
    }

    .quadrat {
      border: 3px solid black;                                                 /*Border 3px breit und Schwarz*/   
      border-radius: 40px;                                                       /*Border abrunden*/
      text-align: center;                                                        /*Text zentrieren*/
    }

    #artura {
      width: 99%;                                                                /*99% Breite*/
    }
    
    
    #image {
      width: 100%;                                                               /*100% Breite*/
    }


    .text {
      text-align: left;                                                          /*Text links zentrieren*/
      vertical-align: top;                                                       /*Text vertikal zentrieren*/
      font-size: 30px;                                                           /*Schriftgröße 30px*/
      
    }

    p {
      text-align: center;                                                        /*Text zentrieren*/
    }

    .ul {
      padding-left: 8%;                                                          /*Links 8% Abstand*/
    } 

    #footer {
      background-color: #5c5a5a;                                               /*Hintergrundfarbe Grau*/
      margin-top: 20%;                                                           /*Oben 20% Platz lassen*/
      text-align: center;                                                        /*Text zentrieren*/
    }
    
   
                        /* Links */

    a {
      color: black;                                                            /*Linkfarbe Schwarz*/
      text-decoration: none;                                                     /*Links nicht unterstreichen*/
    }

    a:visited {
      color: black;                                                            /*Besuchte Links sollen Schwarz sein*/
    }

    #scrollToTopBtn {
      position: fixed;                                                           /*Fixiert an einer Stelle*/
      background-color: #ff7b00;                                               /*Hintergrundfarbe Orange*/
      right: 10px;                                                               /*10px rechts vom Rand platzieren*/
      bottom: 10px;                                                              /*10px unten vom Rand platzieren*/
      color: black;                                                            /*Schriftfarbe Schwarz*/
      width: 50px;                                                               /*50px Breite*/
      height: 50px;                                                              /*50px Höhe*/
      text-align: center;                                                        /*Text zentrieren*/
      font-family: 'Courier New', Courier, monospace;                            /*Schriftart ändern*/
      border-radius: 30%;                                                        /*Abrundung*/
      cursor: pointer;                                                           /*Mauszeiger verändern*/
      font-size: medium;                                                         /*Schriftgröße medium*/  
    } 




                        /* Nils */