/*Standart Regeln*/
  * { padding: 0;
      margin: 0; 
      
    }
/*Layout*/
    div {
      margin: 5px;
      padding: 5px;
    }

    #hauptseite {
      background-color: blue;
    }
  
    #wrapper {
      background-color: #5c5a5a;
      border: 2px solid black;
      margin: 0px;
      padding: 0px;
    }
    

               /* header start */

    #header {
      background-color: #ff7b00;                /* Hintergrundfarbe orange */
      border: 2px solid black;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    #logo {
      width: 16%;
    }

    #logo img {
     width: 200px; 
     height: 70px;
    }

    #navbar {
      background-color: #ff7b00;
      width: 80%;
      
    }

    #navbar li {
      list-style-type: none;
      display: inline;
      font-size: 30px;
      margin: 2%;
      font-family: 'Courier New', Courier, monospace ;

    }

    

    

               /* header end */

    #video { 
      border-radius: 70px;
      width: 98.1%;
      }
    video {
      width: 100%;
      height: 100%;
      border-radius: 70px;
    }

    #infos {
      background-color: #5c5a5a;
      text-align: center;
      height: auto;
      color: orange;
    }

    h1 {
      font-size: 50px;
    }

    .tabelle {
      width: 100%;
      font-size: 35px;
      
    }

   
   
    #tabelle1 {
      color: orange;
      margin-bottom: 4%;
    }
    
    #tabelle2 {
      color: lightgreen;
      margin-bottom: 4%;
    }
    
    
    #tabelle3 {
      color: lightblue;
      margin-bottom: 4%;
    }

    #tabelle4 {
      color: white;
      margin-bottom: 4%;
    }

    .quadrat {
      border: 3px solid black;
      border-radius: 40px;
      text-align: center;
    }

    #artura {
      width: 99%;
    }
    
    
    #image {
      width: 100%;
    }


    .text {
      text-align: left;
      vertical-align: top;
      font-size: 30px;
      
    }

    p {
      text-align: center;
    }

    ul {
      padding-left: 8%;
    }

    #footer {
      background-color: #5c5a5a;
      margin-top: 20%;
      text-align: center;
    }
    
   
                        /* Links */

    a {
      color: black;
      text-decoration: none;
    }

    a:visited {
      color: black;
    }




                        /* Nils */