body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    overflow: hidden;
  }

  .navbar {
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #FFFFFF;
    color: black;
  }

  .navbar .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  .content {
    padding: 60px 16px;
  }

  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    z-index: -1; 
}

  .centered {
    font-size: 20px;
  }

  .navbar a {
    color: black;
    font-size: 35px;
  }
  .links {
    margin-top: 18px;
  }

  /* Nils start */
  
  
  
  table {
    font-family: 'Times New Roman', Times, serif;
  }

  
  
  
  td {
    text-align: center;
    vertical-align: middle;
  }     


   /* Nils end */