/*Standart Regeln*/
  * { padding: 0;
      margin: 0; 
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
/*Layout*/
    div {
      margin: 5px;
      padding: 5px;
    }

    #hauptseite {
      background-color: blue;
      border: 2px solid aqua;
    }
  
    #wrapper {
      background-color: grey;
      border: 2px solid black;
    }
    
    #header {
      background-color: gold;
      border: 2px solid black;
    }

    #navigation {
      background-color: orange;
      border: 2px solid black;
    }

    #video { 
      background-color: red;
      border: 2px solid black;
    }

    #infos {
      background-color: white;
      border: 2px solid black;
    }

    #footer {
      background-color: violet;
      border: 2px solid black;
    }
