body {
    background-color: #5c5a5a;                            /*Hintergrundfarbe Grau*/
    overflow-y: scroll;                                     /*Scrollbar hinzufügen*/
}

a {
    color: black;                                         /*Linkfarbe Schwarz*/
  }

#Bild img {
    width: 100%;                                            /*Bildbreite 100%*/
    height: 100%;                                           /*Bildhöhe 100%*/
    border-radius: 70px;                                    /*Bild abrunden*/
}

.centered {
    text-align: center;                                     /*Text mittig machen*/                    
}

.Themen {
    font-size: 20px;                                        /*Schriftgröße 20px*/
    color: orange;                                        /*Schriftfarbe Orange*/
}   

table {
    width: 100%;                                            /*Tabellenbreite 100%*/
}


td {
    text-align: center;                                     /*Text mittig machen*/                                  
    width: 50%;                                             /*Jede Tabellenspalte jeweils 50% der Breite*/
}

li {
    list-style-type: none;                                  /*Punkte vor Stichpunkten entfernen*/
    font-size: 35px;                                        /*Schriftgröße 35px*/
    margin-bottom: 5%;                                      /*Unten 5% Platz lassen*/
}  


