body {
    background-color: #5c5a5a;                  /*Hintergrundfarbe Grau*/
    overflow-y: scroll;                           /*Scrollbar hinzufügen*/
  }

  a {
    color: black;                               /*Linkfarbe Schwarz*/
  }

  h1 {
    text-align: center;                           /*Text zentrieren*/
  }

  #Bild1 {
    margin-left: 4.5%;                            /*Abstand links 4.5%* vergrößern*/
  }

  #Bild2 {
    margin-left: 4.5%;                            /*Abstand links 4.5%* vergrößern*/                
  }

  #Bild3 {
    margin-left: 4.5%;                            /*Abstand links 4.5%* vergrößern*/
  }

  #Bilder {
    display: flex;                                /*Elemente innerhalb eines div's anordnen*/
  }

  img {
    width: 322px;                                 /*Bildbreite auf 322px setzen*/
  }

  #Kaufen {
    background-color: orange;                   /*Hintergrundfarbe Orange*/
    font-size: xx-large;                          /*Schriftgröße xx-large*/
  }

  button {
    border: none;                                 /*Keine Border anzeigen*/
  }

  .button {
    display: flex;                                /*Elemente innerhalb eines div's anordnen*/
    justify-content: center;                      /*Platz zwischen elementen horizontal aufteilen*/
  }

  #Credits {
    text-align: end;                              /*Text ans Ende der Seite stellen*/
  }

  #Bearbeitung {
    position: absolute;
    left: 36%;
    top: 36%;
    
  }