body {
    background-color: #5c5a5a;                  /*Hintergrundfarbe Grau*/
    overflow-y: scroll;                           /*Scrollbar hinzufügen*/
  }

  a {
    color: black;                               /*Linkfarbe Schwarz*/
  }
