
a {
  color: black;                                       /*Links sollen die Farbe Schwarz haben*/
}
 
 
 .td {
    text-align: center;                                 /*Text soll zentriert sein*/
    vertical-align: middle;                             /*Text soll vertikal zentriert sein*/
    border:  3px dashed black; border-radius: 10px;   /*Border soll 3px breit sein und Linie soll gestrichelt sein und Border soll abgerundet sein*/
    width: 50%;                                         /*Jede Tabellenspalte soll 50% Breite haben*/
   
  }     
  
  .th {
    text-align: center;                                 /*Text soll zentriert sein*/
    vertical-align: middle;                             /*Text soll vertikal zentriert sein*/
    border:  3px dashed black;                        /*Border soll 3px breit sein und soll gestrichelt sein*/
  }   
  




    #AutoÜberUns {
      margin-right: 5%;                                 /*Element soll rechts 5% Platz lassen*/
      border: 3px solid black;                         /*Border soll 3px breit sein*/
      border-radius: 40px;                               /*Border soll abgerundet sein*/
    }
 
body {
  background-color:#5c5a5a ;                           /*Hintergrundfarbe Grau*/
  overflow-y: scroll;                                    /*Scrollbar hinzufügen*/
  overflow-x: hidden;                                    /*Alle Sachen die aus der Seite rauslaufen sollen versteckt sein*/
}


#TabelleUnternehmen {
  font-size: x-large;                                    /*Schriftgröße x-large*/
  display: inline;                                       /*Border eines elements auf das nötigste begrenzen*/
  width: 50%;                                            /*Breite auf 50% setzen*/
  text-align: center;                                    /*Text zentrieren*/

}

td {
  width: 50%;                                            /*Jede Tabellenspalte soll 50% der Breite bekommen*/
}   

th {
  font-size: xx-large;                                   /*Schriftgröße xx-large*/
  color: lightblue;                                    /*Schriftfarbe Hellblau*/
}

#UnternehmenText {
  color: lightblue;                                    /*Schriftfarbe Hellblau*/
}


#text {
  margin-top: 7%;                                        /*Oben 7% Platz lassen*/
}



#TabelleBruce {
  color: lightblue;                                    /*Schriftfarbe Hellblau*/
  text-align: center;                                    /*Text zentrieren*/
  font-size: x-large;                                    /*Schriftgröße x-large*/
}


#Bruce {
  width: 90%;                                            /*Breite auf 90% setzen*/
  height: 90%;                                           /*Höhe auf 90% setzen*/
  border-radius: 40px;                                   /*Border abrunden*/
  border: 3px solid black ;                            /*Border soll 3px breit sein*/
}


